:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
}

p {
  font-family: var(--default-font-family);
  font-weight: 400;
}

.homepage-header {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}

.homepage-header p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.homepage-header h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 400px;
  line-height: 36px;
  color: #272142;
  text-align: center;
}

.content-container {
  padding: 160px 20px;
}

.content {
  padding: 32px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.btn-branding {
  background: var(--branding-color);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500px;
  padding: 18px 30px;
  border-radius: 4px;
  line-height: 27px;
}

.content-container img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: 700;
  text-align: left;
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-weight: 400px;
  padding: 18px 30px;
  border-radius: 4px;
  line-height: 27px;
}

.project-description {
  padding: 70px 0px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 44px;
    text-align: center;
  }
  .homepage-header {
    padding: 80px 10px;
  }

  .btn-branding-outline {
    display: block;
    margin: 0 auto;
  }

  p {
    text-align: center;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }
}
